<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PocketNewsApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.purnendu.PocketNews.Ui.Activities.QuitApplicationActivity" />
        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.SplashActivity"
            android:theme="@style/HiddenTitleTheme"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.Bookmarks"
            android:label="Bookmarks"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.SingleNewsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.Category"
            android:label="Category"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.SettingActivity"
            android:label="Settings"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.purnendu.PocketNews.Ui.Activities.About"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.purnendu.PocketNews.Ui.Activities.NewsApiWebPage"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>


    </application>

</manifest>