<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purnendu.PocketNews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewsApi">

        </activity>
        <activity
            android:name=".Category"
            android:label="Category"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".About"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Bookmarks"
            android:label="Bookmarks"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".setting"
            android:configChanges="uiMode"
            android:label="Settings"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".news"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>